<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <airrobe>
      <options>
        <airrobe_api_url>http://localhost:3001/graphql</airrobe_api_url>
        <airrobe_script_url>localhost:9000/versions/magentoChic/airrobe.min.js</airrobe_script_url>
        <airrobe_brand_attribute_code>manufacturer</airrobe_brand_attribute_code>
      </options>
    </airrobe>
  </default>
</config>
