<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="airrobe" translate="label" sortOrder="999">
      <label>AirRobe</label>
    </tab>

    <section id="airrobe" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
      <label>Configuration</label>

      <tab>airrobe</tab>

      <resource>AirRobe_TheCircularWardrobe::config_airrobe_thecircularwardrobe</resource>

      <group id="general" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
        <label>General</label>
        <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Enable Module</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>

        <field id="live_mode" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Live mode</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>When checked, orders will be sent to airrobe.com. When unchecked, orders will be sent to sandbox.marketplace.airrobe.com</comment>
        </field>
      </group>

      <group id="options" sortOrder="2" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
        <label>Credentials</label>

        <field id="airrobe_app_id" type="text" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
          <label>AirRobe App ID</label>
          <comment>The AirRobe App ID that identifies your store</comment>
        </field>

        <field id="airrobe_secret_token" type="text" sortOrder="2" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
          <label>AirRobe Secret Token</label>
          <comment>The AirRobe Secret Token is used to securely sign payload of data that you send to us</comment>
        </field>
      </group>

      <group id="mapping" sortOrder="3" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
        <label>Mapping</label>

        <field id="airrobe_brand_attribute_code" type="text" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
          <label>Brand attribute code</label>
          <comment>The code that identifies the "brand" attribute in your system.</comment>
        </field>

        <field id="airrobe_material_attribute_code" type="text" sortOrder="2" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
          <label>Material attribute code</label>
          <comment>The code that identifies the "material" attribute in your system (where material may refer to "leather", "satin" etc).</comment>
        </field>
      </group>
    </section>
  </system>
</config>
